@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&family=Open+Sans:wght@400;700&family=Poppins:wght@400;500&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #006aff;
  --gray: #eee;
}

.main-color {
  color: var(--main-color);
}

.bg-gray {
  background-color: var(--gray);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

/* S T A R T - V I D E O */

.video-cover {
  height: 100vh;
  width: 100%;
}

.video-cover .video-box {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.video-cover video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.video-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.video-cover .titles {
  height: 100vh;
}

.video-cover a {
  padding: 15px 30px;
  background-color: var(--main-color);
  text-decoration: none;
  color: white;
}

/* E N D - V I D E O */

.cities {
  margin: 7% 0%;
}

.section-title {
  margin: 5% 0%;
}

.section-title span {
  background-color: var(--main-color);
  color: white;
  width: 40px;
  display: inline-block;
  border-radius: 5%;
}

.carousel {
  width: 80%;
  margin: auto;
}

/* E N D - C I T I E S */

/* S T A R T - R E V I E W */

.reviews {
  padding: 50px 0px;
}

.reviews .card {
  height: 100%;
  cursor: pointer;
  transition: 0.5s;
}

.reviews .card:hover {
  background-color: var(--gray);
}

.person {
  margin: 0px 0px !important;
  position: absolute;
  bottom: 2%;
}

/* E N D - R E V I E W */

/* S T A R T - G A L L E R Y */

.gallery {
  background-color: var(--gray);
}

.gallery .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}
.gallery img {
  border-radius: 5px;
  transition: 0.5s;
}

.gallery img:hover {
  transform: scale(1.5) rotate(10deg);
}

/* E N D - G A L L E R Y */

/* S T A R T - C O N T A C T */

.contact {
  padding: 50px 0px 0px 0px;
}

.contact .inputs input,
.contact .inputs textarea {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  margin: 10px 0px;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.contact button {
  background-color: var(--main-color);
  color: white;
  font-size: 20px;
  padding: 8px 15px;
  border: none;
}

/* E N D - C O N T A C T */

/* S T A R T - M E D I A */

@media (max-width: 768px) {
  .section-title span {
    background-color: var(--main-color);
    color: white;
    width: 30px;
    display: inline-block;
    border-radius: 5%;
    font-size: 30px;
  }

  .carousel {
    width: 100%;
    margin: auto;
  }
}

.created {
  background-color: var(--main-color);
  color: white;
  margin: 40px 0px 0px 0px;
  padding: 10px 0px;
}

/* E N D - M E D I A */
