@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&family=Open+Sans:wght@400;700&family=Poppins:wght@400;500&display=swap");

* {
  font-family: "Nunito", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #006aff;
  --gray: #eee;
  --color: #0c195c;
}

.main-color {
  color: var(--main-color);
}

.m-100 {
  margin-top: 100px;
}

p {
  margin: 0px !important;
}
::-webkit-scrollbar {
  width: 10px;
  background: #f6f7fb;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color);
}

body {
  background: #f6f7fb !important;
}

/* S T A R T - N A V BA R */

nav {
  position: absolute !important;
  top: 0px;
  background: none;
  margin: 0px;
  width: 100%;
}

nav .container {
  border-bottom: 1px solid white;
}

nav img {
  width: 150px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0px 10px;
  font-size: 19px;
  font-weight: 600;
}

nav a:hover {
  color: #0b26a8;
}

.navbar .navbar-toggler {
  color: white;
  border-color: white;
  box-shadow: none !important;
}

.navbar .navbar-toggler[aria-expanded="true"] {
  box-shadow: none;
  border-color: white;
}

/* E N D - N A V B A R */

/* S T A R T - V I D E O */

.video-cover {
  height: 100vh;
  width: 100%;
}

.video-cover .video-box {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.video-cover video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.video-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.461);
}
.video-cover .titles {
  height: 100vh;
}

.video-cover a {
  padding: 15px 30px;
  background-color: var(--main-color);
  text-decoration: none;
  color: white;
}

/* E N D - V I D E O */

.title-section {
  margin: 60px 0px;
  color: var(--color);
  text-align: center;
}

.title-section h1 {
  font-size: 45px;
}

/* S T A R T - G A L L E R Y */

.experiences .img-box {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}
.experiences img {
  border-radius: 10px;
  transition: 0.5s;
}

.experiences img:hover {
  transform: scale(1.5) rotate(10deg);
}

.experiences .img-details {
  padding: 10px 20px;
  color: #061458;
}

.card-box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  height: 100%;
  background: white;
}

/* S  T A R T - P A C K A G E S */

.packages .img-overlay {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(0deg, #0000008a, transparent);
}
.package-box img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: block;
}

.packages .img-details {
  position: absolute;
  bottom: 0px;
  padding: 10px 20px;
  color: white;
  z-index: 10;
  width: 100%;
}

.packages button {
  background: none;
  border: 1px solid var(--color);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  max-width: 200px;
  color: var(--color);
  padding: 5px 10px;
  margin: 10px 0px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.packages button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  z-index: -1;
  transition: transform 0.4s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.packages button::before {
  transform: scaleX(0);
}

.packages button:hover::before {
  transform: scaleX(1);
}

.packages button:hover {
  color: white;
}

/* E N D - P A C K A G E S */

/* S T A R T - S E R V I E C E S */

.about .about-box {
  padding: 25px 15px;
  border-radius: 15px;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
  height: 100%;
}

.about .col-lg-4:nth-child(odd) div {
  background: var(--color);
  color: white;
}

.about .col-lg-4:nth-child(even) div {
  border: 3px solid var(--color);
  background: #eee;
  color: var(--color);
}

.about .about-box svg {
  font-size: 3rem;
  margin-bottom: 25px;
}

/* E N D - S E R V I E C E S */

/* S T A R T - Q & A */

.questions h1 {
  color: var(--color);
  font-weight: 600;
}

.questions .text-center p {
  max-width: 600px;
  padding: 25px 0px;
  margin: auto !important;
}

.question {
  padding: 20px 30px;
  margin: 40px 0px;
  border: 1px solid var(--color);
  border-radius: 15px;
  color: var(--color);
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
  height: 70px;
  transition: 1s;
}

.question button {
  background: none;
  border: none;
  outline: none;
}

.question h4 {
  margin: 0px;
}

.question svg {
  cursor: pointer;
}

.answear {
  color: white;
  padding-top: 20px;
  display: none;
  transition: 0.8s;
}

.questions .show {
  background: var(--color);
  color: white;
}

.questions .show button {
  color: white;
}

/* E N D - Q & A */

/*  S T A R T - R E V I E W */

.review-box {
  padding: 20px;
  background: #eee;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.review-box .review-details {
  margin: 25px 0px;
  position: relative;
}
.review-box p {
  color: var(--color);
  font-weight: 500;
  font-size: 19px;
}
.review-box .review-details svg {
  font-size: 200px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  color: #0909093b;
}

.review-box img {
  width: 100px;
  border: 3px solid white;
  border-radius: 50px;
  z-index: 1;
}

.review-box .review-img .wave {
  height: 180px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  border-radius: 0px 0px 10px 10px;
}

/* E N D -  R E V I E W S */

/* S T A R T - S U B S C R I B E */

.subscribe p {
  max-width: 600px;
  margin: auto !important;
}

.subscribe .subscribe-box {
  max-width: 750px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.459) 0px 3px 8px;
  border-radius: 10px;
}

.subscribe input {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 25px 15px;
  font-size: 20px;
  width: 100%;
  margin: auto;
}

.subscribe span {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--color);
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 15px;
  border-radius: 10px 15px;
  cursor: pointer;
}

/* E N D - S U B S C R I B E */

/* S T A R T - S P O N S O R S */

.sponsors img {
  width: 100px;
  filter: grayscale(100%);
  cursor: pointer;
  margin: auto;
}

/* E N D - S P O N S O R S */

/*  S T A R T - C O N T A C T */

.contact-boxes {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: white;
  width: 100%;
  padding: 50px 0px;
  border-radius: 10px;
}

.contact-box {
  margin-left: 350px;
  width: calc(100% - 350px);
  height: 570px;
}

.contact-information svg {
  margin-right: 25px;
  font-size: 1.5rem;
}

.contact-box form {
  margin-top: 40px;
  padding: 0px 10px;
}

.contact-box input,
.contact-box textarea {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 25px;
  font-size: 20px;
  background: #eee;
  width: 90%;
}

.contact-box button {
  background: var(--color);
  color: white;
  padding: 10px 40px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 50px;
  text-transform: uppercase;
}
.contact-information {
  position: absolute;
  top: 20px;
  left: 0px;
  background: var(--color);
  color: white;
  padding: 50px 20px;
  height: 93%;
  width: 300px;
  border-radius: 10px;
  margin: auto;
}

/* E N D - C O N T A C T */

/* S T A R T - F O O T E R */

.under-line {
  height: 1px;
  width: 100%;
  background: #777;
  margin: 50px 0px;
}

.footer img {
  width: 150px;
  margin-bottom: 15px;
}

.footer h4 {
  color: #333;
  font-weight: 600;
}

.footer ul {
  list-style: none;
  padding: 0px;
}
.footer li {
  margin-bottom: 15px;
}

.footer a {
  text-decoration: none;
  color: #333;
}

.footer span {
  font-weight: bold;
}
.footer svg {
  font-size: 25px;
  margin-left: 25px;
  cursor: pointer;
}

/* E N D - F O O T E R */

/* S T A R T - M E D I A */

@media (max-width: 991px) {
  nav ul {
    margin-top: 30px !important;
  }
  nav ul li {
    margin-bottom: 20px;
  }
  .question {
    height: 100px;
  }
}

@media (max-width: 768px) {
  .contact-box {
    margin: 0px;
    width: 100%;
    text-align: center;
  }
  .contact-information {
    display: none;
  }
}

@media (max-width: 550px) {
  .footer .socials {
    flex-direction: column;
  }
}

/* E N D - M E D I A */
