.contact {
  h3 {
    margin-bottom: 30px;
    color: $color;
  }
  p {
    margin-bottom: 15px !important;
    font-size: 18px;
  }
  span {
    height: 50px;
    width: 50px;
    background: #e2e2e2;
    color: #191d2b ;
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;
    margin-right: 15px;
  }
  input , textarea{
    padding: 10px;
    border: 1px solid $color;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    width: 100%;
    margin-bottom: 15px;
  }
  button {
    padding: 7px 30px !important;
  }
}