.footer {
  img {
    width: 150px;
    margin-bottom: 15px;
  }
  h4 {
    color: #333;
    font-weight: 600;
  }
  ul {
    list-style: none;
    padding: 0px;
    li {
      margin-bottom: 15px;
      a {
        text-decoration: none;
        color: #333;
      }
    }
  }
  span {
    font-weight: bold;
  }
  svg {
    font-size: 25px;
    margin-left: 25px;
    cursor: pointer;
  }
  .socials {
    @media (max-width: 550px) {
      flex-direction: column;
    }
  }
}
