.questions {
  h1 {
    color: $color;
    font-weight: 600;
  }
  p {
    max-width: 600px;
    padding: 25px 0px;
    margin: auto !important;
  }
  .question {
    padding: 20px 30px;
    margin: 40px 0px;
    border: 1px solid $color;
    border-radius: 15px;
    color: $color;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
    height: 70px;
    transition: 1s;
    @media (max-width: 991px) {
      height: 100px;
    }
    button {
      background: none;
      border: none;
      outline: none;
    }
    h4 {
      margin: 0px;
    }
    svg {
      cursor: pointer;
    }
  }
  .answear {
    color: white;
    padding-top: 20px;
    display: none;
    transition: 0.8s;
  }
  .show {
    background: $color;
    color: white;
    button {
      color: white;
    }
  }
}
