.services {
  .service-box {
  padding: 20px 10px;
  border-radius: 15px;
  background-color: $color;
  margin: 0.75rem 0px;
  color: white;
  text-align: center;
  cursor: pointer;
  img {
    width: 110px;
    margin-bottom: 30px;
    }
  }
}

