/* E N D - S P O N S O R S */

/*  S T A R T - C O N T A C T */

.contact-boxes {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: white;
  width: 100%;
  padding: 50px 0px;
  border-radius: 10px;
}

.contact-box {
  margin-left: 350px;
  width: calc(100% - 350px);
  height: 570px;
}

.contact-information svg {
  margin-right: 25px;
  font-size: 1.5rem;
}

.contact-box form {
  margin-top: 40px;
  padding: 0px 10px;
}

.contact-box input,
.contact-box textarea {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 25px;
  font-size: 20px;
  background: #eee;
  width: 90%;
}

.contact-box button {
  background: var(--color);
  color: white;
  padding: 10px 40px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 50px;
  text-transform: uppercase;
}
.contact-information {
  position: absolute;
  top: 20px;
  left: 0px;
  background: var(--color);
  color: white;
  padding: 50px 20px;
  height: 93%;
  width: 300px;
  border-radius: 10px;
  margin: auto;
}

/* E N D - F O O T E R */

/* S T A R T - M E D I A */

@media (max-width: 991px) {
  nav ul {
  }
  nav ul li {
  }
}

@media (max-width: 768px) {
  .contact-box {
    margin: 0px;
    width: 100%;
    text-align: center;
  }
  .contact-information {
    display: none;
  }
}

/* E N D - M E D I A */
